body {
    font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
    background-color: #D8DBE2;
    padding-left: 10%;	
    padding-right: 10%;
    } 

.content{
    padding: 8px;
    border: 3px solid gray;
    background-color: White;	
    }

h1{
    font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
    font-size : x-large;
    font-weight : bold;
    color : Black;
    text-align : center;
    width : 90%;
    border-top-width : 1px;
    border-bottom-width : 1px;
    border : 1px solid Black;
    border-left-width : 0px;
    border-right-width : 0px;
    padding : 10px;     
    padding-left : 5%;
    padding-right : 5%;
    }

h2{
    font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
    font-size : larger;
    font-weight : bold;
    color : White;
    padding : 8px;
    width : 90%;
    background : #336699;
    border : 1px solid White;
    margin-top : 30px;	           
    padding-left : 5%;
    padding-right : 5%;
    }
p {
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	color : Black;
	text-align: justify;
	margin-left :20px;
	margin-right : 10px;
}
    pd {
        font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
        color : Black;
        line-height: 1.2;
        margin-top: 10px;
        margin-bottom: -2px;
        padding-left: 2%;
        width: 96%;
    }
	
h3,h4,h5,h6
{
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
	color : Black;
	margin-left : 60px;
}

div.sub-head-1{
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica; ;
    font-weight: bold;
	color: Black;
	font-size : larger;
}

span.sub-head-1{
    font-family : sans-serif, Verdana, Geneva, Arial, Helvetica; ;
    font-weight: bold;
    color: Black;
    font-size : larger;
}

div.sub-head-2{
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica; ;
    font-weight: bold;
	color: Black;
	font-size : large;
}

span.sub-head-2{
	font-family : sans-serif, Verdana, Geneva, Arial, Helvetica; ;
    font-weight: bold;
	color: Black;
	font-size : large;
}

samp {
	font-family : monospace, "Courier New", Courier ;
	font-weight: bold;
	color: Black;
	font-size : medium;
}
hrs{
    height: 1px;
    margin-left : 40px;
    
    }

.hint {
    font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
    border : 1px solid Black;
    padding : 8px;
    width : 70%;
    background : #CCFFFF;
    color : Black;
    margin-left : 100px;	
    }

.html-command {
    font-family : monospace, "Courier New", Courier ;
    font-weight: bold;
    font-size : medium;
    color: #CC0000;
    margin-left : 100px;

}

.stdout{
    font-family : monospace, "Courier New", Courier ;
    font-weight: bold;
    font-size : medium;
    color: Navy;
    margin-left : 100px;
}

.html-code {
    font-family : monospace, "Courier New", Courier ;
    font-weight: bold;
    color: #CC0000;
    font-size : medium;
}

.sourcecode {
    font-family : monospace, "Courier New", Courier ;
    border : 1px solid Black;
    padding : 10px;
    width : 70%;
    background : #FFFFCC;
    color : Black;
    margin-left : 100px;
}

.warning {
    font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
    font-weight : bold;
    color : White;
    background : #CC0000;
    border : 1px solid Black;
    padding : 8px;
    width : 70%;
    margin-left : 100px;
}

.date {
    font-family : sans-serif, Verdana, Geneva, Arial, Helvetica;
    font-size: smaller;
    color: White;
    background-color: Black;
    text-align: right;
    padding: 3px;
    border : 1px solid White;
    width : 100%;
    margin-left : 0px;
    margin-right : 0px;
}

.navbar {
    text-align : center;
    text-decoration : none;
    border : 0px none;
    color : White;
}
